.navbar ul{
  list-style-type: none;
  background-color: #ffb6c1;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: #ff007f;
  text-decoration: none;
  padding: 15px;
  display: block;
}
.navbar a:hover{
  background-color: #000000;
}
.navbar li{
  float: left;
}
