body{
    margin: 0px;
}
main{
    margin: 15px;
}

.menu > ul{
    list-style-type: none;
    background-color: #00A86B;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.menu a{
    color: #FDF6E4;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.menu a:hover{
    background-color: #048051;
}

.menu li{
    float: left;
}

/*dropdown menu*/
.menu .dropdown {
    position: relative;
}

.menu .content {
    display:  none;
    position: absolute;
    padding:  0;
    margin: 0;
    background-color: #00A86B;
}

.menu .content li{
    float: none;
}

.menu .dropdown:hover .content{
    display: block;
}